#bloc_center {
	margin-top: 56px;
}
#profil_nounou {
	display: inline-flex;
	width: 100%;
}
#accueil {
	display: flex;
	justify-content: space-between;
}
#notice {
	height: 500px;
	background-color: blue;
	width: 40%;
}
#departements {
	text-align: right;
	width: 50%;
}
#departements a {
	display: inline-flex;
	color: black;
}
#departements img {
	max-width: 100%;
}

.dept {
	/*border: 1px solid black;*/
	margin-bottom: 15px;
}

.dept span {
	display: none;
	position: relative;
	top: 25px;
	font-size: 2em;
	padding-right: 10px;
	font-family: trebuchet MS;
}

.logo_dept {
	border: 1px solid #1be3f2;
	height: 110px;
	width: 350px;
	text-align: center;
}

#infos_nounou {
	margin: auto;
}
#map {
	height: 450px;
	width : 50%;
	margin: auto;
}
h2 {
	text-align: center;
}
#avis_nounou p {
	text-align: center;
}
#table_avis, #table_nounous, #table_parents {
	margin: auto;
	width: 70%;
}
#table_avis td, #table_avis th, #table_nounous td, #table_nounou th, #table_parents th, #table_parents td {
	border: 1px solid black;
}
#footer {
	text-align: center;
	background-color: #343a40;
	margin-top: 100px;
}