body {
	/*background-color: #efc3e2;*/
	background-image: linear-gradient(to bottom right,  #e6bcb5, #5a5ae9 )
}
#logo_form img {
	width: 10%;
}
#form_contactUs{
	text-align: center;
}
#bloc_center {
	margin-top: 56px;
}
#profil_nounou {
	display: inline-flex;
	width: 100%;
	margin-top: 25px;
}
#accueil {
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 20px;
}
#notice {
	border: 1px solid black;
	width: 33%;
}
#img_accueil img {
	max-width: 100%;
}
#connectHome_message p {
	margin: 10px;
}
.departements {
	width: 350px;
}
.departements a {
	display: inline-flex;
	color: black;
}
#dept_col1 {
	text-align: left;
}
#dept_col2 {
	text-align: right;
}
.dept {
	/*border: 1px solid black;*/
	margin-bottom: 15px;
}

.dept img {
	max-width: 100%;
}

.dept span {
	display: none;
	position: relative;
	top: 25px;
	font-size: 2em;
	padding-right: 10px;
	font-family: trebuchet MS;
}

.logo_dept {
	/*border: 1px solid #1be3f2;*/
	height: 110px;
	width: 350px;
	text-align: center;
}
.logo_dept_listNounous {
	width: 100%;
	text-align: center;
	margin-top: 65px;
	margin-bottom: 15px;
}

#infos_nounou {
	margin: auto;
}
#table_nounous_length,#table_nounous_filter, #table_avis_length, #table_avis_filter {
	display: none;
}
#map {
	height: 300px;
	width : 35%;
	margin: auto;
}
#forms_avis {
	margin: auto;
}
#formulaire_newParent {
	width: 450px;
	margin: auto;
	text-align: right;
}
#avis_part {
	display: inline-flex;
}
#text_advice_avis {
	width: 40%;
	margin: auto;
}
#invit_connect {
	text-align: center;
}
h2 {
	text-align: center;
}
#avis_nounou p {
	text-align: center;
}
#form_mail_nounou {
	border: 1px solid black;
	width: 400px;
	margin: auto;
}
#table_avis, #table_nounous, #table_parents {
	margin: auto;
	width: 70%;
}
#table_avis td, #table_avis th, #table_nounous td, #table_nounou th, #table_parents th, #table_parents td {
	border: 1px solid black;
}
#footer {
	text-align: center;
	background-color: #343a40;
	margin-top: 100px;
}