body {
	background-image: linear-gradient(to bottom right,  #e6bcb5, #5a5ae9 )
}
.bloc_model {
	border-radius: 5px;
	box-shadow: 5px 5px 5px #696464;
	background-color: white;
}
.btn-primary {
	background-color: #c4a4c2;
	border-color: #c4a4c2;
}
#logo_form img {
	width: 10%;
}
#form_contactUs{
	text-align: center;
}
#bloc_center {
	margin-top: 56px;
}
#table_nounous_length,#table_nounous_filter, #table_avis_length, #table_avis_filter {
	display: none;
}
.table_pag, #table_avis {
	background-color: #fbf3f3;
	margin: auto;
	width: 90%;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #696464;
}
.sorting {
	width: 10px;
}

.table_pag th, .table_pag td {
	border : 1px solid #696464;
}
#updatePassword {
	text-align: center;
}
/* HOME */
#presentation h1 {
	text-align: center;
	color: white;
	text-shadow: 5px 5px 5px #696464;
}
#carouselPresentation {
	width: 80%;
	margin: auto;
	box-shadow: 5px 5px 5px #696464;
	border-radius: 5px;
}
#carouselPresentation img {
	border-radius: 5px;
}
#dept_login {
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 20px;
}
.notice-type {
	border-radius: 5px;
	box-shadow: 5px 5px 5px #696464;
	background-color: white;
	margin : 15px 5% 5% 5%;
	padding: 25px;
}
.notice-type h2 {
	text-align: center;
}
#notice_head h1 {
	text-align: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
}
.notice-type .form-group {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


#img_accueil img {
	max-width: 100%;
}
#connectHome_message {
	background-color: #c4a4c2;
}
#connectHome_message p {
	margin: 10px;
}
#dept_col1 {
	text-align: left;
}
#dept_col2 {
	text-align: right;
}
.dept {
	display: block;
	margin-bottom: 15px;
	height: 110px;
	width: 350px;
	text-align: center;
	background-color: #FFF;
	margin: 15px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #696464;
}

.dept img {
	max-width: 100%;
}

.dept span {
	display: none;
	position: relative;
	top: 25px;
	font-size: 2em;
	padding-right: 10px;
	font-family: trebuchet MS;
}

.logo_dept {
	/*border: 1px solid #1be3f2;*/
	height: 110px;
	width: 350px;
	text-align: center;
}
#inscriptions {
	text-align: center;
}
/* FIN HOME */

/* Liste du dept */
#frontlistview h2 {
	margin-top: 15px;
}
#frontlistview p {
	text-align: center;
}

#dept_list {
	margin: auto;
}

#table_nounous {
	width: 90%;
}

/*Fin Liste du dept */

/*Début show nounou */
#infos_nounou {
	margin: auto;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #696464;
}
#profil_nounou {
	display: inline-flex;
	width: 100%;
	margin-top: 25px;
}
#map {
	height: 300px;
	width : 50%;
	margin: auto;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #696464; 
}
#forms_avis {
	margin: auto;
}
#invit_connect {
	border-radius: 5px;
	box-shadow: 5px 5px 5px #696464; 
	background-color: white;
	width: 80%;
	margin: auto;
}

#avis_part {
	display: inline-flex;
	background-color: white;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #696464;
	padding: 10px;
}
#text_advice_avis {
	width: 40%;
	margin: auto;
}
#invit_connect {
	text-align: center;
}
h2 {
	text-align: center;
}
#avis_nounou p {
	text-align: center;
}
#form_mail_nounou {
	max-width: 400px;
	margin: auto;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	box-shadow: 5px 5px 5px;
	padding: 10px;
}
#return_home {
	text-align: center;
	margin-top: 40px;
}
/* Fin show nounou */

/* form inscrip */
.formulaire_profil {
	width: 490px;
	margin: auto;
	background-color: white;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #696464;
	padding: 10px;
}
.formulaire_profil td {
	text-align: right;
}
.formulaire_profil label {
	margin-bottom: 10px;
	margin-top: 10px;
}
/* fin form inscrip */

/* début admin */
#adminEditParentForm {
	text-align: right;
}
#deleteProfil {
	margin-top: 20px;
}

#footer {
	text-align: center;
	background-color: #343a40;
	margin-top: 100px;
}